@import "admin/mixin";
@import "./_cart";
@import "./shipping";
@import "./admin/chart";
@import "./admin/dashboard";
@import "./admin/product";

@import "./admin/mediaquery";
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}

.red {
  color: red;
}
.purple {
  color: rgb(47, 0, 255);
}
.green {
  color: rgb(0, 195, 0);
}
.sidebar-link {
  padding: 0.5rem 1rem;
  border-radius: 10px;
}
// a.active {
//   background-color: rgba(92, 240, 66, 0.56);
//   color: rgba(0, 0, 0, 0.8) !important;
// }
.adminContainer {
  @include grid(1fr 4fr, 2rem);
  height: 100vh;
  background-color: rgb(247, 247, 247);

  > aside {
    width: 100%;
    background-color: white;
    padding: 1rem;
    z-index: 10;
    overflow-y: auto;
    &::-webkit-scrollbar {
      display: none;
    }
    > div {
      margin: 2rem 1rem;
      > h5 {
        @include heading(2px);
        opacity: 0.8;
        margin: 1em 0;
      }
      > ul {
        @include flex(column, unset, unset, 0.5rem);
        list-style: none;
        > li {
          transition: padding 2s;
          > a {
            color: rgba(0, 0, 0, 0.825);
            @include flex(row, unset);
          }
          .active {
            background-color: rgba(92, 240, 66, 0.56);
            color: rgba(0, 0, 0, 0.8) !important;
          }
        }
      }
    }
  }
}

.table {
  border-collapse: collapse;
  width: 100%;
  th,
  td {
    padding: 8px;
    text-align: center;
    vertical-align: middle;
  }
  th {
    font-weight: bold;
    color: #0000009e;
    font-size: 1.1rem;
    font-weight: 400;
    padding: 2rem 1rem;
  }
  tbody {
    tr {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.093);
    }
    td {
      padding: 1rem;
      img {
        width: 4rem;
        height: 4rem;
        object-fit: contain;
        border-radius: 10px;
      }
      a {
        text-decoration: none;
        background-color: rgba(44, 104, 255, 0.455);
        color: rgba(44, 104, 255);
        padding: 0.25rem 0.5rem;
        border-radius: 10px;
      }
      button {
        width: 2rem;
        height: 2rem;
        font-size: 1.1rem;
        border: none;
        outline: none;
        background-color: transparent;
        cursor: pointer;
        color: rgba(255, 44, 44);
        &:hover {
          opacity: 0.6;
        }
      }
      &:first-child {
        border-left: none;
      }
      &:last-child {
        border-right: none;
      }
    }
  }
}

.table-pagination {
  @include flex(row);
  padding: 2rem;
  > button {
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgba(0, 115, 255);
    color: white;
    &:disabled {
      background-color: rgba(0, 115, 255, 0.1);
    }
  }
}

#hamburger {
  display: grid;
  place-items: center;
  @include square(3rem);
  border: none;
  cursor: pointer;
  color: #00fd119e;
  position: fixed;
  top: 1rem;
  left: 1rem;
  font-size: 2rem;
  background-color: whitesmoke;
  border-radius: 20%;
  z-index: 9;
}
#close-modal-btn {
  background-color: rgb(251, 67, 16);
  color: white;
  width: 100%;
  padding: 0.8em;
  font-size: 0.9em;
  border: none;
  border-radius: 10px;
}

.header {
  @include flex(row, space-between, center, unset);

  height: auto;
  margin: auto 2em;
  > div > img {
    width: 100px;
    height: 100px;
  }
  > div {
    @include flex(row, center, center, unset);
  }
  > div > .name-logo {
    height: 50px;
    float: right;
    vertical-align: middle;
  }
  > .nav-links {
    @include flex(row, unset, unset, 1.6rem);
    > a {
      color: rgb(0, 0, 0);
      letter-spacing: 2px;
      font-size: 1.2rem;
      transition: padding 0.5s;
    }
    .active {
      padding-left: 0.7em;
      padding-right: 0.7em;
      background-color: rgb(56, 255, 73);
      border-radius: 10px;
      color: #ffffff;
    }
    button {
      border: none;
      font-size: 1.2rem;
      cursor: pointer;
      background-color: transparent;
      &:hover {
        color: rgb(36, 245, 60);
      }
    }
    dialog {
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 10px;
      width: 100px;
      position: absolute;
      left: calc(100% - 100px);
      top: 0%;
      > div {
        @include flex(column, flex-start, center, 0.25rem);
      }
    }
  }
}
